{% extends 'Bee/base.html' %}

{% block title %}BeeWord{% endblock%}

{% block body %}
    <h5> Bee Word Validation</h5>
    
    <ul>
        <li>Difficulty Level : {{ spellbee.level }}</li>
        <li>BeeWord : {{ spellbee.word }} {% if chk  %} ==> correct{% else %} ==> Incorrect{% endif %} </li>
        
    </ul>
    <div class="row">
        <div class="col">
    <form class="form-inline" action="{% url 'beeword' spellbee.id  %}" method="post">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
            <label for="Word" class="sr-only">Bee Word Spell Check- Retest: </label>
            <input type="text" class="form-control" name="word" placeholder="Enter Bee_word spelling Here">
            <button type="submit" class="btn btn-primary mb-2" name="submit_check" value="submit_check">Try again</button>
        </div>
       </div>
    </div>
    <p></p>
    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action active">  Practice test  </a>
    </div>
   
    
{% endblock%}