
{% extends 'Bee/base.html' %}

{% block title %}BeeWord{% endblock%}

{% block body %}
    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">Index</th>
            <th scope="col">Bee Word</th>
            <th scope="col">No of times attempted</th>
            <th scope="col">Last Score</th>
            <th scope="col">Total  Score</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ score_tb.id }}</td>
                <td>{{ score_tb.pickword }}</td>
                <td>{{score_tb.pickidx }}</td>
                <td>{{score_tb.lastscore }}</td>
                <td>{{score_tb.scoreboard }}</td>
                
            </tr>
        </tbody>
    </table>
   
{% endblock%}