
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpellBeeWord</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'stylebee.css' %}">
    </head>
<body>
    <table>
        <thead>
            <th>Index</th>
            <th>Bee Word</th>
            <th>No of times attempted</th>
            <th>Last Score</th>
            <th>Total Pass Score</th>
            <th>Total Fail Score</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ score_tb.id }}</td>
                <td>{{ score_tb.pickword }}</td>
                <td>{{score_tb.pickidx }}</td>
                <td>{{score_tb.lastscore }}</td>
                <td>{{score_tb.scoreboard_pass }}</td>
                <td>{{score_tb.scoreboard_fail }}</td>
            </tr>
        </tbody>
    </table>
    <p></p>
    <a href="{% url 'home' %}">Go to Home Page</a>
</body>
</html>