{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Score Board</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'stylebee.css' %}">
    </head>
<body>
    <table>
        <thead>
            <th>Bee Word Level</th>
            <th>Total tests taken</th>
            <th>Overall Percentage</th>
            <th>Overall Status</th>
        </thead>
        <tbody>
            {% for score_val  in score_bd  %}
            <tr>
                <td>{{ score_val.lvl }}</td>
                <td>{{ score_val.test }}</td>
                <td>{{ score_val.percent }}</td>
                <td>{{ score_val.stat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p></p>
    <a href="{% url 'home' %}">Go to Home Page</a>
</body>
</html>
