{% extends 'Bee/base.html' %}

{% block title %}BeeWord{% endblock%}

{% block body %}
    <h5>Bee Word  Score check</h5>
    <br> <br>

    <table class="table table-bordered">
        <thead>
            <tr>
             
            <th scope="col">Bee Word Level</th>
            <th scope="col">Total tests taken</th>
            <th scope="col">Overall Percentage</th>
            <th scope="col">Overall Status</th>
        </tr>
        </thead>
        <tbody>
            
            {% for score_val  in score_bd  %}
            <tr>
                
                <th scope="row">{{ score_val.lvl }}</td>
                <td>{{ score_val.test }}</td>
                <td>{{ score_val.percent }}</td>
                <td>{{ score_val.stat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock%}
