{% extends 'Bee/base.html' %}


{% block body %}
    <h5>Welcome {{ user.username }}</h65>
  <main role="main" class="container">
   <div class="row">
    <div class="col-md-4">
      <div class="content-section">
        <h5>Click to test!</h5>
        <p class='text-muted'>
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'index' %}">PRACTICE</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'scoretot' %}">TEST-SCORE</a></li>
          </ul>
        </p>
      </div>
    </div>
    </div>
    
   <p>{{ err }} </p>
      

{% endblock%}